{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Samuel Mulatua Jeremy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <header id="main" class="d-flex justify-content-center flex-column">
        {% include 'navbar.html' %}
    </header>

    <section id="contact" class="contact d-flex flex-column">
        <div class="contact-content">
            <h1 class="contact-title">Contact Me</h1>
            <div class="row contact-detail">
                <div class="col-lg-4">
                    <a href="https://www.linkedin.com/in/samuel-nainggolan-86a1a8138/"><i class="fa fa-linkedin"
                            style="font-size:100px"></i>
                        <br>LinkedIn</a>
                </div>
                <div class="col-lg-4">
                    <a href="https://www.instagram.com/samuelmjn"><i class="fa fa-instagram"
                            style="font-size:100px"></i>
                        <br>Instagram</a>
                </div>
                <div class="col-lg-4">
                    <a href="https://www.github.com/samuelmjn/"><i class="fa fa-github" style="font-size:100px"></i>
                        <br>Github</a>
                </div>
            </div>
        </div>
    </section>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</html>