{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Samuel Mulatua Jeremy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header id="main" class="d-flex justify-content-center flex-column header">
        {% include 'navbar.html' %}
        <div data-aos="fade-up" class="header-div">
            <h1 class="header-text">Samuel Mulatua Jeremy</h1>
            <h3 class="header-text subheader">turns imagination into reality.</h3>
        </div>
    </header>

    <section id="profile" class="profile d-flex justify-content-center flex-column">
        <div class="profile-title">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="profile-header-text">Who Am I?</h1>
                    <p>I'm a student of Faculty of Computer Science, University on Indonesia majoring Computer Science.
                        I help people with zero or minimum backround of technology to deliver their ideas and solutions
                        through
                        scalable and efficient technology</p>
                </div>
                <div class="col-lg-6">
                    <h1 class="profile-header-text">Skillsets</h1>
                    <ul class="list-group skill-list">
                        <li class="list-group-item">Web Development</li>
                        <li class="list-group-item">DevOps</li>
                        <li class="list-group-item">SEO Optimisations</li>
                        <li class="list-group-item">Data Analytics</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="projects" class="projects d-flex justify-content-center flex-column">
        <div class="projects-title">
            <h1 class="project-title-text"><strong>LATEST</strong> PROJECTS & CONTRIBS</h1>
        </div>

        <button type="button" class="btn btn-primary gallery-button" data-toggle="modal" data-target="#galleryModal">
            Gallery
        </button>

        <div class="project-cards">
            <div class="project-card">
                <img class="project-card-image" src="{% static 'img/img1.png' %}" alt="">
                <h2 class="project-card-title">IMAGINARY</h2>
                <p class="project-card-summary">A cloud-based image processing plugin written in Golang </p>
            </div>

            <div class="project-card">
                <img class="project-card-image" src="{% static 'img/img2.png' %}" alt="">
                <h2 class="project-card-title">EDOM Bot</h2>
                <p class="project-card-summary">A bot to rate UI EDOM based on a config file</p>
            </div>

            <div class="project-card">
                <img class="project-card-image" src="{% static 'img/img3.png' %}" alt="">
                <h2 class="project-card-title">KBBI Bot</h2>
                <p class="project-card-summary">A LINE Bot to see definitions of Indonesian words</p>
            </div>
        </div>

    </section>

    <!--Start Gallery Modal-->
    <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Projects Gallery</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'img/img1.png' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'img/img2.png' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'img/img3.png' %}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Gallery Modal-->

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Copyright 2020. Samuel Mulatua Jeremy</span>
        </div>
    </footer>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>