* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1.7vw;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    overflow-x: hidden;
}

nav {
    font-size: 0.5em;   
    width: 100%;
}

a {
    color: black;
}

.bg-light {
    background-color: transparent!important;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: url('/static/img/half-face.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;

}

.header-div {
    margin-left: 2em;
}

.header-text {
    font-size: 4em;
    width: 60vw;
    height: fit-content;
}

.subheader {
    font-size: 1em;
}

.profile {
    background-color: #F6F6F6;
}

.profile-title {
    margin-top: 1.5em;
    margin-left: 2em;
}

.profile-header-text {
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    color: #B5B5B5;
}

.skill-list {
    margin-right: 1.5em;
    margin-bottom: 4em;
    margin-left: 1em;
}

.projects {
    background-color: #070505;
    width: 100%;
}

.projects-title {
    text-align: center;
    margin-top:1.8em ;
}

.project-title-text {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    color: whitesmoke;
}

.project-cards {
    margin-top: 2em;
}

.project-card {
    width: 50vw;
    margin-left: 1.8em;
    margin-top: 0.3em;
}

.project-card-image {
    width: 13em;
    height: 13em;
}

.project-card-title {
    width: 8em;
    font-family: 'Prata', serif;
    font-size: 2.2em;
    color: rgb(210, 210, 210);
    position: relative;
    left: 7em;
    bottom: 3.5em;
    margin-right: 0;
}

.project-card-summary {
    width: 10em;
    font-family: 'Arial', serif;
    font-size: 1em;
    color: rgb(210, 210, 210);
    position: relative;
    left: 16em;
    bottom: 7em;
}

.btn {
    font-size: 1em;
}

.gallery-button {
    width: 5em;
    margin: auto;
}

.contact {
    margin-top: 2.8em;
    background-color: #F6F6F6;
    min-height: 100vh;
}

.contact-content {
    margin-top: 4em;
}

.contact-title {
    padding-top: 1.5em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    color: black;
}

.contact-detail {
    margin-top: 4em;
    text-align: center;
}

.footer {
    width: 100%;
    height: 80px;
    line-height: 60px;
    background-color: #f5f5f5;
  }

  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }

  .schedule {
    font-size: 0.5em;
  }

@media only screen and (max-width: 420px) {
    html {
        font-size: 3vw;
    }

    nav {
        font-size: 2em;   
        width: 100%;
    }
    
    #header-text {
        font-size: 12em;
        margin-left: 1em;
    }
}